{% extends "layout.html" %}
{% block body %}
    
    <div class="main-wrapper">
	    
	    <section class="blog-list px-3 py-5 p-md-5">
		    <div class="container">


				{% for sub_blog in sub_blogs %}    
		    	{% set fname = 'images/blog/' + sub_blog.sub_blog_image %}
		    	{% set slug = '/blog/' + sub_blog.sub_blog_slug %}
			    <div class="item mb-5">
				    <div class="media">
					    <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{ url_for('static', filename=fname) }}" alt="image">
					    <div class="media-body">
						    <h3 class="title mb-1"><a href="{{sub_blog.sub_blog_slug}}">{{ sub_blog.sub_blog_title}}</a></h3>
						    <div class="meta mb-1"><span class="date">Published on {{ sub_blog.sub_blog_date}}</span>
						    </div>
						    <div class="intro">{{sub_blog.sub_blog_intro}}...</div>
						    <a class="more-link" href={{slug}}>Read more {{sub_blog.sub_blog_slug}} &rarr;</a>
					    </div><!--//media-body-->
				    </div><!--//media-->
			    </div><!--//item-->
 				 {% endfor %}

			    
			    <nav class="blog-nav nav nav-justified my-5">
				  <a class="nav-link-prev nav-item nav-link rounded-left" href="#">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
				  <a class="nav-link-next nav-item nav-link rounded-right" href="#">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
				</nav>
				
		    </div>
	    </section>
	    
	
  {% endblock %}