
{% extends "layout.html" %}
{% block body %}

	     <section class="cta-section theme-bg-light py-5">
		     <div class="container text-center">

		  <div class="my-2 my-md-3">
		  	{% set blog = 'blog' %}
		  	{% set subblog = 'subblog' %}
				    <a class="btn btn-primary" href="/dash/{{blog}}" >Blog Dashboard</a>
				  
				    <a class="btn btn-primary" href="dash/{{subblog}}" >Sub-blog Dashboard</a>
			
				</div>
			</div>

		   
	    </section>

<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

{% endblock %}    